@import "./../../styles/lib";


.DessertPerson {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

    display: grid;
    padding-bottom: 2em;
    grid-template-columns: 1fr 24em;
    grid-template-areas:
        "scatter recipe"
        "scatter about"
        "filter filter";

    &__plot {
        grid-area: scatter;
    }

    &__recipe {
        grid-area: recipe;
    }

    &__filter {
        grid-area: filter;
        padding-left: 4.5em;
    }

    &__about {
        grid-area: about;
        border: 1px solid;
        margin-bottom: 4em;
    }
}
