@import "./../../styles/lib";

$dp-pink: hsla(354, 36%, 90%, 1);
$dp-taupe: hsla(354, 18%, 81%, 1);
$db-dark: #501017;

$dp-stripe: hsla(353, 8%, 80%, 0.16);

$dp-grids: rgba($dp-pink, 0.5);

.Recipe {

}
