@import "./../../styles/lib";

$dp-pink: hsla(354, 36%, 90%, 1);
$dp-taupe: hsla(354, 18%, 81%, 1);
$db-dark: #501017;

$dp-grids: rgba($dp-pink, 0.5);

.ScatterPlot {
    height: calc(90vh - 6em);
    min-height: 620px;
    min-width: 500px;
    width: calc(100% + 1em);
    //margin-bottom: 2em;
    width: 100%;
    position: relative;

    &Context {
        height: 100px;
    }

    svg text {
        fill: #969696;
    }

    .y-axis-label {
        font-size: 0.9em;
        text-anchor: middle;
        transform: rotate(-90deg);
    }

    .axis {
        color: #e0e0e0;
    }

    .tick {
        color: #e0e0e0;
    }

    .Axis__tick {
        font-size: 0.7em;
        fill: $db-dark;

        &--difficulty {
            font-size: 1em;
            fill: $db-dark;
        }
    }

    .Grid__section-delineator {
        stroke: $dp-grids;
        stroke-width: 1.5;
    }

    .Grid__rules {
        stroke: $dp-grids;
        stroke-width: 1;
    }

    .Grid__stripe {
        fill: rgba($dp-taupe, 0.2);

        &:nth-of-type(even) {
            display: none;
        }

        &:first-of-type {
            display: none;
        }
    }

    .AxisHorizontal,
    .AxisVertical {
        font-size: 0.8em;

        .Axis__line {
            stroke: $dp-pink;
            stroke-width: 3;
        }
    }

    .Line {
        &--type {
            &-line {
                fill: none;
                stroke-width: 1.5px;
                stroke-linecap: round;
            }
        }

        &--exercise {
            &-0 {
                stroke: $paradiddle-green;
            }
            &-1 {
                stroke: $paradiddle-purple;
            }
            &-2 {
                stroke: $paradiddle-blue;
            }
            &-3 {
                stroke: $paradiddle-orange;
            }
        }

        &--isDimmed {
            opacity: 0.175;
        }
    }

    .Circle {
        transition: all 0.15s ease-out;
        pointer-events: none;
    }

    &__hover-line {
        fill: rgba(#000000, 0.25);
        transition: all 0.15s ease-out;
        opacity: 0.5;
        pointer-events: none;
    }

    .Tooltip {
        &__container {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, -100%);
            padding: 1em 1.75em;
            background: #fff;
            line-height: 1.4em;
            z-index: 10;
            transition: all 0.15s ease-out;
            pointer-events: none;
            box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
        }
    }
}
