@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html {
    font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: "Inter var", sans-serif;
    }
}


@font-face {
    font-family: "Vulf Mono Italic";
    src:
    url("../assets/Vulf_Mono-Italic_web.woff2") format("woff2"),
        url("../assets/Vulf_Mono-Italic_web.woff") format("woff");
}


@font-face {
    font-family: "Macabre";
    src:
    url("../assets/Macabre-Regular.woff2") format("woff2"),
        url("../assets/Macabre-Regular.woff") format("woff");
}


@font-face {
    font-family: "Covik Sans";
    font-weight: 900;
    src:
    url("../assets/Covik_Sans-Black_Italic.woff2") format("woff2"),
        url("../assets/Covik_Sans-Black_Italic.woff") format("woff");
}

@font-face {
    font-family: "Covik Sans";
    font-style: normal;
    font-weight: 900;
    src:
    url("../assets/Covik_Sans-Black.woff2") format("woff2"),
        url("../assets/Covik_Sans-Black.woff") format("woff");
}

@font-face {
    font-family: "Covik Sans";
    font-weight: 800;
    font-style: italic;
    src:
    url("../assets/Covik_Sans-Bold_Italic.woff2") format("woff2"),
        url("../assets/Covik_Sans-Bold_Italic.woff") format("woff");
}

@font-face {
    font-family: "Covik Sans";
    font-style: normal;
    font-weight: 800;
    src:
    url("../assets/Covik_Sans-Bold.woff2") format("woff2"),
        url("../assets/Covik_Sans-Bold.woff") format("woff");
}

@font-face {
    font-family: "Covik Sans";
    font-weight: 500;
    font-style: italic;
    src:
    url("../assets/Covik_Sans-Italic.woff2") format("woff2"),
        url("../assets/Covik_Sans-Italic.woff") format("woff");
}

@font-face {
    font-family: "Covik Sans";
    font-weight: 600;
    font-style: italic;
    src:
    url("../assets/Covik_Sans-Medium_Italic.woff2") format("woff2"),
        url("../assets/Covik_Sans-Medium_Italic.woff") format("woff");
}

@font-face {
    font-family: "Covik Sans";
    font-style: normal;
    font-weight: 600;
    src:
    url("../assets/Covik_Sans-Medium.woff2") format("woff2"),
        url("../assets/Covik_Sans-Medium.woff") format("woff");
}

@font-face {
    font-family: "Covik Sans";
    font-style: normal;
    font-weight: 500;
    src:
    url("../assets/Covik_Sans-Regular.woff2") format("woff2"),
        url("../assets/Covik_Sans-Regular.woff") format("woff");
}

@font-face {
    font-family: "Covik Sans";
    font-style: italic;
    font-weight: 700;
    src:
    url("../assets/Covik_Sans-Semibold_Italic.woff2") format("woff2"),
        url("../assets/Covik_Sans-Semibold_Italic.woff") format("woff");
}

@font-face {
    font-family: "Covik Sans";
    font-style: normal;
    font-weight: 700;
    src:
    url("../assets/Covik_Sans-Semibold.woff2") format("woff2"),
        url("../assets/Covik_Sans-Semibold.woff") format("woff");
}








@font-face {
    font-family: "Tropline";
    src: url("../assets/Tropiline-Black.woff") format("woff");
    font-weight: 800;
}

@font-face {
    font-family: "TiemposHeadline";
    src: url("../assets/TiemposHeadline-Bold.eot");
    src: url("../assets/TiemposHeadline-Bold.eot?#iefix")
            format("embedded-opentype"),
        url("../assets/TiemposHeadline-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "TiemposHeadline";
    src: url("../assets/TiemposHeadline-Bold-Italic.eot");
    src: url("../assets/TiemposHeadline-Bold-Italic.eot?#iefix")
            format("embedded-opentype"),
        url("../assets/TiemposHeadline-Bold-Italic.woff") format("woff");
    font-style: italic;
    font-weight: 700;
}
