@import "../../styles/lib.scss";

.Header {
    &__container {
        padding: 1.25em 0;
    }

    &__link {
        display: inline;
    }

&__logo {
        display: inline-flex;
        text-decoration: none;
    }
}